@(confirmationForm:Form[Signer], code: String)(implicit app:play.api.Application, lang:play.api.i18n.Lang)

@import play.api.i18n._
@import helper._
@import twitterBootstrap._


@main(app.configuration.getString("application.name").get) {

<div class="row">
    <div class="span8 offset2"
    <div class="sign">
        <form id="confirm-form" action="@routes.Application.doConfirm(code)" method="POST">
            <fieldset>
                <legend>@Messages("confirm.form")</legend>
                <br/>
                @inputText(confirmationForm("signer.email"), 'class->"disabled", 'disabled->"disabled" )(twitterBootstrapFieldHandler,lang)
                @inputText(confirmationForm("signer.firstName"))(twitterBootstrapFieldHandler,lang)
                @inputText(confirmationForm("signer.lastName"))(twitterBootstrapFieldHandler,lang)
                @inputText(confirmationForm("signer.age"))(twitterBootstrapFieldHandler,lang)
                @inputText(confirmationForm("signer.city"))(twitterBootstrapFieldHandler,lang)

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">@Messages("sign.button.label")</button>
                    <button type="reset" class="btn">@Messages("cancel.button.label")</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

    
}